doctype html
html
  head
    title Isoblog
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css', rel='stylesheet')
  body
    #app!= html
  script(src="/dist/bundle.js")